.header_container {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 60px;
}
.header_list {
  display: flex;
}
.header_img {
  height: 30px;
  width: 30px;
  margin-left: 60px;
  margin-right: 60px;
}
.header_container > .header_list > li:nth-child(n + 2) {
  margin-right: 16px;
  padding: auto;
  color: white;
}
.header_container > .header_list > li:nth-child(n + 2):hover {
  color: red;
}
.main_container {
  display: flex;
}
main > div > div > ul > li {
  margin-right: 18px;
  font-weight: 200;
}
footer > div > ul > li > a img {
  height: 22px;
  width: 22px;
  margin-right: 40px;
}
main > div > div > p {
  font-size: 12px;
}
main > div > div > button {
  width: 125px;
  height: 33px;
  margin-top: 73px;
  margin-right: 16px;
  font-size: 10px;
  border: 5px;
  border-color: white;
  border-radius: 20px;
}
.vertical-rlEN {
  writing-mode: vertical-rl;
  font-size: 20px;
  color: white;
}
.vertical-rlEN2 {
  font-size: 20px;
  color: white;
}
