body {
  background-color: #e9e9e9;
  margin: 0;
  padding: 10px;
  text-align: center;
}

h1 {
  color: #4c4c4c;
  font-weight: 600;
}

.card {
  display: inline-block;
  margin: 10px;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 3px 5px #ddd;
  color: #555;
}

.card .box {
  width: 100px;
  height: 100px;
  margin: auto;
  background-color: #ddd;
  box-shadow: 0 0 5px inset;
}

.card .box .fill {
  width: 100px;
  height: 100px;
  background-color: aqua;
  opacity: 0.5;
  box-shadow: 0 0 5px #ccc;
  transition: 0.3s;
}

.card .rotate .fill:hover {
  transform: rotate(45deg);
}

.card .rotateX .fill:hover {
  transform: rotateX(45deg);
}

.card .rotateY .fill:hover {
  transform: rotateY(45deg);
}

.card .rotateZ .fill:hover {
  transform: rotateZ(45deg);
}

.card .scale .fill:hover {
  transform: scale(2);
}

.card .scaleX .fill:hover {
  transform: scaleX(2);
}

.card .scaleY .fill:hover {
  transform: scaleY(2);
}

.card .skew .fill:hover {
  transform: skew(45deg, 45deg);
}

.card .skewX .fill:hover {
  transform: skewX(45deg);
}

.card .skewY .fill:hover {
  transform: skewY(45deg);
}

.card .translate .fill:hover {
  transform: translate(45px, 45px);
}

.card .translateX .fill:hover {
  transform: translateX(45px);
}
.card .translateY .fill:hover {
  transform: translateY(45px);
}

.card .matrix .fill:hover {
  transform: matrix(2, 2, 0, 2, 45, 0);
}

.perspective-100 .box {
  perspective: 100px;
}
.perspective-200 .box {
  perspective: 200px;
}
.to-100-0-0 {
  transform-origin: 100% 0 0;
}
.to-0-100-0 {
  transform-origin: 0 100% 0;
}
